extends layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
	h1.display-4.m-b-2 Twitch Account
	h1.display-4.m-b-2=twitch
	h1.display-4.m-b-2 Roblox Account
	h1.display-4.m-b-2=roblox
