block head
  script(src="/js/jquery-3.3.1.min.js")
  script(src="/js/bootstrap.min.js")
  link(rel='stylesheet', href='/css/bootstrap.css')

body.text-center.container
    h1 Registered With

    h3 Twitch:
    h3=twitch

    h3 Roblox:
    h3=roblox

	p Now send a friend request! https://www.roblox.com/users/454258140/profile
